<ion-header>
  <ion-toolbar>
    <ion-title>
      PDF  Reader
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-button (click)="
        download(
          'https://firebasestorage.googleapis.com/v0/b/testapp-bb252.appspot.com/o/LessionPlan%2FPS02%2Fguide_561_en_732.pdf?alt=media&token=0339a0e4-f4fa-49a3-b6c0-3df12a95c8a7',
          'Demo PDF'
        )
      "  >Click to View Doc</ion-button>


      <!-- <ion-button (click)="localPDF()"> Local Open Pdf</ion-button> -->
      
      <ion-button (click)="downloadAndOpenPdf()">Download and Open Pdf</ion-button> 

      <!-- <iframe src="https://www.tactivity.in/Guide/embed/473" allowfullscreen frameborder="0"></iframe> -->

    </div>
    <iframe width="100%" height="50%"
    src="https://firebasestorage.googleapis.com/v0/b/testapp-bb252.appspot.com/o/LessionPlan%2FPS02%2Fguide_561_en_732.pdf?alt=media&token=0339a0e4-f4fa-49a3-b6c0-3df12a95c8a7">
  </iframe>

  <!-- <iframe src="https://firebasestorage.googleapis.com/v0/b/testapp-bb252.appspot.com/o/LessionPlan%2FPS02%2Fguide_561_en_732.pdf?alt=media&token=0339a0e4-f4fa-49a3-b6c0-3df12a95c8a7" style="width:100%; height: 100%;"></iframe> -->

  <!-- <iframe *ngIf="pdfLink" [src]="pdfLink" width="100%" height="100%" frameborder="0" ></iframe> -->

  

</ion-content>

<!-- <ion-content overflow-scroll="true">
  <iframe src="https://firebasestorage.googleapis.com/v0/b/testapp-bb252.appspot.com/o/LessionPlan%2FPS02%2Fguide_561_en_732.pdf?alt=media&token=0339a0e4-f4fa-49a3-b6c0-3df12a95c8a7" style="width: 100%; height: 100%"></iframe>
</ion-content> -->